<div class="card inline-block p-2 markup-wrp">
  <%= markdown_render message.content %>
</div>
<div class="mt-1 mb-0 pl-1">
  <b><%= message.user.name %></b>
  <small>
    <%= message.created_at.to_s(:long) %>
    <% if own_message?(message) %>
      &bull;
      <%= link_to 'Edit', [:edit, message.card, message], remote: true, class: 'text-muted' %>
      &bull;
      <%= link_to 'Delete', [message.card, message], remote: true, method: 'delete', data: { confirm: t('.confirm_delete') }, class: 'text-muted' %>
    <% end %>
  </small>
</div>
