<%= link_to [card], data: { action: 'drag-item', id: card.id, move: card_movements_path(card) }, class: 'card card-body py-1 px-2 text-muted', style: "border-top-color:#{card.colorize_mini}", id: "list-card-#{card.id}" do %>
  <span id="card-title-<%= card.id %>">
    <%= card.title %>
  </span>
  <div class="text-xs" id="card-mini-<%= card.id %>-checklists">
    <%= render partial: 'cards/checklist', collection: card.checklists %>
  </div>
<% end %>
