<div class="row" id="checklist-<%= checklist_item.checklist_id %>-item-<%= checklist_item.id %>">
  <div class="col-md-11">
    <textarea rows="1"
      data-editable="update"
      data-url="<%= checklist_item.persisted? ? checklist_checklist_item_path(checklist_item.checklist, checklist_item) : checklist_checklist_items_path(checklist_item.checklist) %>"
      data-attribute="title"
      data-model="checklist_item"
      data-type="<%= checklist_item.persisted? ? 'PUT' : 'POST' %>"
      placeholder="<%= t('.placeholder') %>"><%= checklist_item.title %></textarea>
  </div>
  <div class="col-md-1 text-right">
    <%= link_to [checklist_item.checklist, checklist_item], method: :delete, remote: true, class: 'btn btn-xs btn-secondary py-0' do %>
      <span class="h4">&times;</span>
    <% end %>
  </div>
</div>
